<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
	</cc:interface>
	<cc:implementation>
		<h:form>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						<label for="term">The mathematical term to evaluate:</label>
						<h:inputText binding="#{term}" class="form-control" />
					</div>
					<div class="col-sm-4">
						<label for="x">x:</label>
						<h:inputText binding="#{x}" class="form-control" />

					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-sm-6">
					<h:commandButton value="Calculate" class="btn btn-primary"
							action="#{calcBean.calculate(term.value, x.value, y.value)}" id="calculate" />
					<label>Your result is: #{calcBean.result}</label>
				</div>
				<div class="col-sm-4">
					<label for="y">y:</label>
					<h:inputText binding="#{y}" class="form-control" />
				</div>
			</div>
		</h:form>

		<div class="row"></div>
	</cc:implementation>
</ui:component>
