<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
	</cc:interface>
	<cc:implementation>
		<h:head>
			<h:outputScript library="js" name="bootstrap.js" />
			<h:outputScript library="js" name="jquery-3.1.1.min.js" />
			<h:outputStylesheet library="css" name="bootstrap.css" />
			<title>JSF 2.0 Hello World</title>
		</h:head>
	</cc:implementation>
</ui:component>
