<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
	</cc:interface>
	<cc:implementation>
		<div class="row">
			<div class="col-md-2">
			<br></br>
			<br></br>
				<img src="/JavaServerFaces/resources/img/scruffy.gif" class="img-rounded"
					style='max-height: 160px;' alt="face"></img>
			</div>
			<div class="center-block">
				<div class="jumbotron">
					<center>
						<h1>Dayviesoft</h1>
						<p>Software and Insomnia</p>
					</center>
				</div>
			</div>
		</div>
	</cc:implementation>
</ui:component>


