<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
	</cc:interface>
	<cc:implementation>
		<h:form>
			<div class="row">
				<div class="form-group">
					<label for="usrtext">Username:</label>
					<h:inputText binding="#{usrText}" class="form-control" id="usrtext" />
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="pwd">Password:</label>
					<h:inputText binding="#{pwdText}" class="form-control" id="pwd" />
					<h:commandButton value="Login" class="btn btn-primary"
						action="#{loginBean.login(usrText.value, pwdText.value)}" id="login" rendered="#{!loginBean.isLoggedIn()}"/>
					<h:outputLabel for="login" value="You are logged in!"
						rendered="#{loginBean.isLoggedIn()}" />
				</div>
			</div>
		</h:form>
	</cc:implementation>
</ui:component>
