<ui:component xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
	</cc:interface>
	<cc:implementation>
		<div class="col-sm-2">
			<div class="well bs-sidebar" id="unamebar"
				style="background-color: #fff">
				<h5>You are logged in as:</h5>
				<h4>
					<span class="label label-default">#{loginBean.getUserName()} </span>
				</h4>
			</div>
			<div class="well bs-sidebar" id="sidebar"
				style="background-color: #fff">
				<ul class="nav nav-pills nav-stacked">
					<li><a href='/JavaServerFaces/'>Home</a></li>
					<li><a href='/JavaServerFaces/templates/account.xhtml'>Account</a></li>
					<li><a href='/JavaServerFaces/templates/calc.xhtml'>Calculator</a></li>
					<li><a href='/projects/'>Projects</a></li>
					<li><a href='/contact/'>Contact</a></li>
				</ul>
			</div>
			<!--well bs-sidebar affix-->
		</div>
	</cc:implementation>
</ui:component>

