<!-- importiere composite-, h- und c-tags -->
<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>
<cc:interface>
	<!-- Erhalte ein Objekt vom Typ Object -->
	<cc:attribute name="bean" type="java.lang.Object" />
</cc:interface>
<cc:implementation>
	<h:outputScript library="js" name="jquery-3.1.1.min.js" target="head" />
	<div class="row">
		<div class="col-md-6">My configured name was:
			#{cc.attrs.bean.getName()}</div>
		#{cc.attrs.bean.setName("Hello World Bean")}
		<div class="col-md-6">#{cc.attrs.bean.sayHello()}, My set name
			is : #{cc.attrs.bean.getName()}</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- Rufe die Methode sayHello() des uebergebenen Objekts vier mal auf -->
			<c:forEach begin="1" end="4">#{cc.attrs.bean.sayHello()}</c:forEach>
		</div>
			<div class="col-md-3">
				<button type="button" value="sayHello" id="hellobutton"
					class="btn btn-primary">bean.sayHello()</button>
			</div>
			<div class="col-md-3">
				<div id="hiddenText">#{cc.attrs.bean.sayHello()}</div>
			</div>
	</div>
	<!-- Javascript mit JQuery -->
	<script type="text/javascript">
		var buttonColors = ["btn btn-primary", "btn btn-info"];
		var index = 0;
		$("#hiddenText").toggle();
		$("#hellobutton").click(function() {
			$("#hiddenText").toggle();
			index++;
			if(index >= buttonColors.length){
				index = 0;
			}
			$("#hellobutton").attr("class", buttonColors[index]);
		});
	</script>
</cc:implementation>
</ui:component>
